@font-face {
    font-family: obi-text-bold;
    src: url(uni-sans.heavy-caps.otf);
}

@font-face {
    font-family: obi-text-thin;
    src: url(uni-sans.thin-caps.otf);
}

#obi-logo {
    display: block;
    width: 200px;
    margin: 15px auto;
}

.heading-text {
    font-family: obi-text-bold;
    color: #ffffff;
    text-align: center;
}

#studio-picture {
    display: block;
    width: 700px;
    margin: 20px auto;
}

.picture {
    width: 700px;
    margin: 20px 20px;
}

body {
    font-family: obi-text-thin;
    color: #ffffff;
    font-size: 250%;
    padding: 100px;
}

.text-align-right {
    text-align: right;
}

.text-align-left {
    text-align: left;
}

.text-align-centre {
    text-align: center;
}

.justify-space-around {
    justify-content: space-around;
}

.flex-container {
    display: flex;
    flex-direction: row;
  }
  
 
  @media (max-width: 1500px) {
    .flex-container {
      flex-direction: column;
    }
 }